.bytest{
	color: black;
	font-weight: bold;
}
.bytest1{
    border: 1px solid #D0D2D2;
    color: #4D4D4D;
    font-size: 1.125em;
    font-weight: bold;
}
.bycenter
{
	text-align: center;
	width: 150px;
}
.byth
{
	width: 340px;
}
.recentresult{
	background-color: #AACCBB;
	font-weight: bold;
	font-size: large;
	width: 40%;
}